/* ABOUT SECTION */

#about {
    position: relative;
}

.about-p1 {
    font-size: 2rem;

    text-align: center;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
    /* width: 100%; */
    /* flex-wrap: wrap; */
    /* margin :0; */

}

.about-containers,
.about-details-container {
    display: flex;
}



.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.details-container {
    display: flex;
    flex-direction: column;
    /* gap:1px; */
    width: 100px;
    align-items: center;
    align-content: center;
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;

}

.about-section-pic-container {
    display: flex;
    height: 500px;
    width: 500px;
    margin: auto;

}

.about-section-pic-container>img {
    border-radius: 2rem;
    border: 1px solid rgb(216, 216, 216);
    box-shadow: 4px 8px 27px 13px rgba(54, 54, 54, 0.4);
}

.about-text-container {
    display: block;
}

.about-text-container p {
    font-size: 1.4rem;
}

@media screen and (max-width: 1000px) {


    .about-containers {
        flex-direction: column;

    }

    .about-section-container {
        margin: 0rem 2rem 0rem 2rem;
    }

    .details-container {
        width: auto;
    }

    .about-text-container p {
        font-size: 1rem;
    }
}
